
.header {
    width: 100%;
    height: auto;
    background: teal;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: -50px;
   
}

.header h1{
    text-align: center;
    font-size: 100px;
    padding-top: 15px;
}


.header h3{
    text-align: center;
    font-size:30px;
    margin-top: -70px;
    padding-bottom: 15px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: teal; 
    margin: inherit;
}

.small-button {
    width: 80px;
}

.login {
    height: auto;
    width: 400px;
    background-color: teal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 30px;
    border-radius: 4px;
} 

.user-input{
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
/* 
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */

  .login-signup{
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    margin-right: 20px;
  }
  /* .submit {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    margin-right: 20px;
  } */
  input[type=button]:hover {
    background-color: #45a049;
  }
  
  .signup {
      float: right;  
  }

.log-in-form, .sign-out-form {
    color: white;
    font-size: 20px;
}
 
.user-page {
    width: 100%;
    height: 600px;
    
    display: flex;
}

.end-user {
    width: 10%;
    height: 600px;
    margin-right: 3%;
    text-align: center;
    
}

.user-logs {
    width: 87%;
    height: 600px;

}

.end-user img {
    width: 100%;
    height: 130px;
    margin-bottom: 5px;
    
}

.sign-out-lbl {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
}

.emp_name {
    font-size: 22px;
    text-transform: capitalize;
}

.sign-out-lbl:hover {
    background-color: #45a049;
    cursor: pointer;
}

.emp_button {
    width: 100%;
    height:350px;
    margin-top: 20px; 
    background-color: #C8C6C6;
    border-radius: 10px;
    display: block;
}

.emp_button .break-buttons {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* input[type=submit] {
    display: block;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
    background-color: #4CAF50;
    color: white; 
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
} */

.login-signup:hover {
    cursor: pointer;
    background-color: #45a049;
}
 
.user-logs div{
    display: flex;
}
.time {
    width:88%;
    height: 120px;
    background: teal;
    margin-right: 2%;
}


.time-display {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: 70px;
    color: white;
    background: teal;
}
strong {
    font-size: 30px;
}



.time-date {
    width: 100%;
}

.date {
    background-color: #4CAF50;
    width: 10%;
    height: 120px;
    border-radius: 10px;
}

.month-year {
    text-align: center;
    width: 100%;
    display: block!important;
}

.month-year p{
    text-align: center;
    margin:0;
}

.date p {
color: white;
font-size: 20px;
}
.month-year {

}


.exact-date{
    font-size: 60px!important;
    margin-top: -20px;
}

.year {
    margin-top: -70px;
    margin-right: -120px;  
    
}



.info-logs {
    width: 100%;
    background-color: teal;
    height: 440px;
    margin-top: 30px;
}

.logs-month {
    color: white;
    display: block!important;
    text-indent: 15px;
}
.logs-month h1 {
    font-size: 30px;
    margin:0;
}

.select-month {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    padding: 3px;
    background-color: #4CAF50;
    color: white;
    border-color:#4CAF50;
    border-radius: 5px;
}

.select-month:hover {
  background-color:#45a049;

}

.am {
    width: 50%;
    float: left;
    border-right: 1px solid right;
    margin-top: 5px;
}

.pm {
    width: 50%;
    float: right;
    margin-top: 5px;
}
 
.time-period p{
    font-size: 30px!important;
    color: white!important;
    display: inline!important;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.logs-data {
    width: 98%;
    height: auto;
    margin-left:1%;
    margin-right: 1%;
}

table th, td {
    border: 1px solid white;
    width: 400px;
    text-align: center;
    color: rgb(29, 18, 119);
    padding:5px;
   
}
table th {
   background-color: #4CAF50;
}

th:nth-child(4) {
    background-color: rgb(207, 207, 40);
}
th:nth-child(5) {
    background-color: rgb(207, 207, 40);
}
th:nth-child(6) {
    background-color: rgb(207, 207, 40);
}
table {
    border-collapse: collapse;
}

.period {
    font-size: 30px;
}
table td {
    background-color: white;
    border: 1px solid black;
}

table th {
    border: 1px solid black;
}


.alert-danger {
    background-color: #ffcdd2;
    color: red;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}